#home-section:hover{
    color: green;
    text-decoration: underline;
}
.fa-facebook:hover{
color: white;
}
.fa-youtube:hover{
    color: white;
}
.fa-instagram:hover{
    color: white;
}